name: pre-commit

on:
  workflow_call:
    inputs:
      skip_hooks:
        description: "Comma-separated list of pre-commit hooks to skip"
        required: false
        type: string
        default: ""

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Cache pre-commit environments
        uses: actions/cache@v4
        with:
          path: "~/.cache/pre-commit"
          key: pre-commit-${{ steps.python-setup.outputs.python-version }}-${{ hashFiles('.pre-commit-config.yaml') }}

      - name: Run pre-commit with optional skipped hooks
        env:
          SKIP: ${{ inputs.skip_hooks }}
        run: pipx run pre-commit run --show-diff-on-failure --color=always --all-files
