name: prettier

on:
  workflow_call:
    inputs:
      files:
        description: "Optional files or glob patterns to check"
        required: false
        default: "**/*.{js,ts,jsx,tsx,json,css,scss,md,html,yml,yaml}"
        type: string

jobs:
  prettier:
    runs-on: ubuntu-latest

    if: |
      github.actor != 'github-actions[bot]' &&
      !contains(github.event.head_commit.message, '[skip ci]')

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 20

      - name: Install dependencies if package.json exists
        run: |
          if [ -f package.json ]; then
            npm ci
          fi

      - name: Run Prettier
        run: npx prettier --check "${{ inputs.files }}"
